	<!doctype html>
	<html lang="es">
	    <head>

	        <meta charset="utf-8"/>
	        <meta name="description" content="Mi portafolio personal"/>
	        <meta name="viewport" content="width=device-width, initial-scale=1"/>
	        <title>Mi Portafolio Online</title>
          <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
	        <link rel="stylesheet" href="../static/css/normalize.css"/>
	        <link rel="stylesheet" href="../static/css/styles.css"/>
	        <link rel="author" href="humans.txt"/>
      </head>

	    <body>
	      <header id="yo" class="Header">
	      	<nav class="MainMenu">
	      		<ul class="MainMenu-list">
	      			<li class="MainMenu-item"> 
	      				<a href="#yo"  class="MainMenu-link" >YO</a> 
	      			</li>
	      			<li class="MainMenu-item"> 
	      				<a href="#perfil" class="MainMenu-link">Perfil</a>
	      			</li>
	      			<li class="MainMenu-item"> 
	      				<a href="#trabajo" class="MainMenu-link">Trabajo</a>
	      			</li>
	      			<li class="MainMenu-item"> 
	      				<a href="#contacto" class="MainMenu-link">Contacto</a>
	      			</li>
	      		</ul>
	      	</nav>
	      	<figure class="Header-imageContainer">
	      	    <img  <img src="https://m.ak.fbcdn.net/profile.ak/hprofile-ak-xat1/v/t1.0-1/p160x160/10987414_10205134503796443_4074018460218572820_n.jpg?oh=399c14bbd428daf3f2a1191ef8554933&oe=55A36404&__gda__=1437445995_36b884cf2d6c8168e9fbed9f9271fc99" alt="Avatar" class="Header-image" />
	      	    
		      	    <figcaption class="Header-imageDescription"> 
		      	      <a href="#" target="_blank" class="Header-link">@AndresVZ91</a>
		                                
		        	 </figcaption>
		        	<p class="Header-name">Andres Felipe Vasquez</p>

	      	</figure>
	      </header>  
	      <section id="perfil" class="Profile">
	      		<h2 class="Profile-title u-title">Mi Perfil</h2>
		      	<p class="Profile-description">
		      		Si llegaste aqui estas en mi portafolio cabroncete	
		      	</p>
		      	<a href="#" target="_blank" class="Profile-link">@Andresvz91</a>
		      	<a href="#" target="_blank" class="Profile-link">Andres Vasquez</a>
		      	<a href="#" target="_blank" class="Profile-link">Andresvz</a>
	      </section>
	      <section id="trabajo" class="Work">
	      		<h2 class="Work-title u-title">trabajo</h2>
	      		<article class="Work-item">
	      			<figure class="Work-imageContainer">
	      				<img src="../static/images/proyecto.jpg" alt="upps"class="Work-image">
	      				 <figcaption class="Work-description">website de andres</figcaption>
	      			</figure>
	      			
	      		</article>
	      		<article class="Work-item">
	      			<figure class="Work-imageContainer">
	      				<img src="../static/images/proyecto.jpg" alt="upps"class="Work-image">
	      				 <figcaption class="Work-description">website de andres</figcaption>
	      			</figure>
	      			
	      		</article>
	      		<article class="Work-item">
	      			<figure class="Work-imageContainer">
	      				<img src="../static/images/proyecto.jpg" alt="upps"class="Work-image">
	      				 <figcaption class="Work-description">website de andres</figcaption>
	      			</figure>
	      			
	      		</article>
	      		<article class="Work-item">
	      			<figure class="Work-imageContainer">
	      				<img src="../static/images/proyecto.jpg" alt="upps"class="Work-image">
	      				 <figcaption class="Work-description">website de andres</figcaption>
	      			</figure>
	      			
	      		</article>
	      		<article>
	      			<figure>
	      				<img src="../static/images/proyecto.jpg" alt="">
	      				 <figcaption class="Work-description">website de andres</figcaption>
	      			</figure>
	      			
	      		</article>
	      </section>
	      <footer id="contacto" class="Footer">
	      			<div class="Footer-left">
              <h3 class="Footer-title  ">contacto</h3>
	      			<p class="Footer-description"> contactame</p>
	      			</div>
	      			<form action="" class="Footer-form">
	      				<input class="Footer-formInput" type="text" placeholder="Nombre*"/>
	      				<input class="Footer-formInput" type="email" placeholder="Correo*"/>
	      				<textarea class="Footer-textarea" placeholder="Comentarios*" ></textarea>
	      				<button class="Footer-button"type="submit"> Contactarme</button>
	      			</form>
	      </footer>
	    </body>

	</html>